@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: Poppins, sans-serif;
    --color-primary: #0A2472;
    --color-button: #0E6BA8;
    --color-input: #F2F2F7;
    --color-inptxt: #8E8E93;
}
